
    
    <!DOCTYPE html>
    <html>
      <head>
        <title>Fuel Price</title>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </head>
      <body>
        <!-- Navigation -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          <img src="/static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
          <font >gadi</font>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                  <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/login">log-in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0 justify-content-center">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
        </nav>
        <h3 style="background-color:#b3b3b3;">PETROL PRICE OF 2020-05-21 :</h3>
        <center><table border=2 bgcolor="#b3b3b3">
        <th bgcolor="#4d4d4d" style="color:white;">Place</th>
        <th bgcolor="#4d4d4d" style="color:white;">Today's Price</th>
        <th bgcolor="#4d4d4d" style="color:white;">Yesterday's Price</th>
        <th bgcolor="#4d4d4d" style="color:white;">Difference</th>
        <tr><td>Lucknow</td><td>73.9</td><td>73.82</td><td>0.08</td></tr>
<tr><td>Trivandrum</td><td>66.39</td><td>72.99</td><td>-6.60</td></tr>
<tr><td>Patna</td><td>76.58</td><td>76.27</td><td>0.31</td></tr>
<tr><td>Chennai</td><td>75.54</td><td>75.54</td><td>0.00</td></tr>
<tr><td>Gurgaon</td><td>71.08</td><td>71.21</td><td>-0.13</td></tr>
<tr><td>Bangalore</td><td>73.55</td><td>73.55</td><td>0.00</td></tr>
<tr><td>Hyderabad</td><td>73.97</td><td>73.97</td><td>0.00</td></tr>
<tr><td>Kolkata</td><td>73.3</td><td>73.3</td><td>0.00</td></tr>
<tr><td>Noida</td><td>74.03</td><td>71.87</td><td>2.16</td></tr>
<tr><td>Chandigarh</td><td>68.62</td><td>68.62</td><td>0.00</td></tr>
<tr><td>Jaipur</td><td>77.82</td><td>78.07</td><td>-0.25</td></tr>
<tr><td>NewDelhi</td><td>71.26</td><td>71.26</td><td>0.00</td></tr>
<tr><td>Mumbai</td><td>76.31</td><td>76.31</td><td>0.00</td></tr>
<tr><td>Ranchi</td><td>71.3</td><td>71.48</td><td>-0.18</td></tr>
<tr><td>Gandhinagar</td><td>67.33</td><td>67.27</td><td>0.06</td></tr>
<tr><td>Panjim</td><td>68.53</td><td>68.53</td><td>0.00</td></tr>
<tr><td>Ambala</td><td>70.94</td><td>70.83</td><td>0.11</td></tr>
<tr><td>Agartala</td><td>71.41</td><td>71.41</td><td>0.00</td></tr>
<tr><td>Aizwal</td><td>66.35</td><td>66.35</td><td>0.00</td></tr>
<tr><td>Faridabad</td><td>71.41</td><td>71.41</td><td>0.00</td></tr>
<tr><td>Gangtok</td><td>72.85</td><td>72.85</td><td>0.00</td></tr>
<tr><td>Kohima</td><td>77.64</td><td>77.64</td><td>0.00</td></tr>
<tr><td>Raipur</td><td>70.45</td><td>70.63</td><td>-0.18</td></tr>
<tr><td>Shillong</td><td>74.61</td><td>74.52</td><td>0.09</td></tr>
<tr><td>Dehradun</td><td>74.48</td><td>74.56</td><td>-0.08</td></tr>
<tr><td>Bhubhaneswar</td><td>68.43</td><td>68.58</td><td>-0.15</td></tr>
<tr><td>Imphal</td><td>74.13</td><td>74.17</td><td>-0.04</td></tr>

    </table></center></body>
    </html>