<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Levels</title>
</head>
<body>
<form name="passdata" action="/difficult" method="post">
    <input id="e" type="radio" name="dif" value="easy">
    <label for="e">Easy</label><br>
    <input id="m" type="radio" name="dif" value="medium">
    <label for="m">Medium</label><br>
    <input id="h" type="radio" name="dif" value="hard">
    <label for="h">Hard</label><br><br>
    <input type="submit" value="submit"><br>
</form>
</body>
</html>